.footer {
    width: 100%; 
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    .footer-detail
    {
       border-bottom: 1px solid #C9CACD;
       height: 46px;
    }
}
.footer-right-panel {
    float: right;
    a {
        margin-right: 25px;
        color: #80818A;
    }
}