<div class="header">
  <div class="row">
    <div class="col-md-6">
      <h4>THEMOVIEBOX</h4>
    </div>
    <div class="col-md-6">
      <div class="header-right-panel">
        <div class="d-inline">
            <input type="image" class="search" src="../assets/search-icon.png" />
        </div>
        <div class="d-inline">
            <button type="button" class="login-btn">LOGIN</button>            
        </div>        
        <div  class="d-inline">
          <button type="button">SIGNUP</button>
        </div>
      </div>
    </div>
  </div>
</div>
