/* You can add global styles to this file, and also import other style files */
body {
	background: #ffffff;
	font-family: 'Helvetica', sans-serif!important;
    font-size: 13px;
}
.no-padding {
    padding: 0px;
}
.m-r-5 {
    margin-right: 5px; 
}
.image-item {
    margin-bottom: 15px;     
}
.main-content {
    background-color: #F8F8F8;
}